<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:derby:DtDb;create=true</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
      <!--   <property name="hbm2ddl.auto">update</property> -->
       
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.Tools"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.ExternalTools"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.InternalTools"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.Category"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.ToolTypes"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.ExternalAppTypes"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.ToolTypes"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.ToolActivityHistory"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.ToolBookmark"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.FxmlLoaderTools"/>
        <mapping class="com.anandhuarjunan.developertools.core.database.persistables.app.FXMLAddOn"/>
        
        
    </session-factory>
</hibernate-configuration>